body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.buttons {
    display: flex;
    align-items: center;
}

.login-button, .chat-button, .cart-button {
    background-color: #D7901F;
    border: none;
    color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-button {
    background-color: #2DA4A5;
}

.cart-button {
    background-color: transparent;
    font-size: 20px;
    color: #000;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: #D7DFD7;
}

.search-bar .search-button {
    background-color: #D7901F;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
}

.logo img {
    height: 50px;
}

.slideshow {
    background-color: #ccc;
    height: 300px;
    margin: 20px 0;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.product p {
    color: #D7DFD7;
    margin-bottom: 10px;
}

.product button {
    background-color: #2DA4A5;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #ccc;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #999;
}
